﻿body {
    background: linear-gradient(#6a5173, #FFCDD2);
    min-height: 100vh;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: rgb(85, 85, 85);
    margin: 0;
    padding: 0px;
}

.main-title {
    background-image: url("/images/cupcakes-cover.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #321919;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    padding-top: 40px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 20px #1e004f;
}

.headline-image {
    width: 100%;
}

.into {
    color: #0f188c;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 10px;
    text-shadow: 2px 2px #8a8a8a;
}

a:link {
    color: rgb(85, 85, 85);
}

a:visited {
    color: rgb(85, 85, 85);
}

a:hover {
    color: rgb(85, 85, 85);
}

.login-controls {
    float: right;
    width: 300px;
    background-color: #cccccc;
    height: 25px;
    line-height: 2em;
    margin: 5px;
    padding: 10px;
    border-width: 4px;
    border-color: #447faa;
    border-style: solid;
}

.clear-floats {
    clear: both;
}

#topmenu {
    background-color: #51a0db;
    height: 39px;
    margin-bottom: 50px;
}

.topmenulink {
    float: left;
    background-color: #cccccc;
    width: 181px;
    height: 35px;
    text-align: center;
    line-height: 2em;
    border-width: 3px;
    border-color: #447faa;
    border-style: solid;
    margin: 5px;
}

.display-label {
    display: inline-block;
    width: 150px;
    margin: 25px 1px 2px 1px;
    font-weight: bold;
    font-size: 20px;
}

.display-picture-title {
    display: inline-block;
    margin: 2px 1px 2px 1px;
    font-weight: bold;
    font-size: 20px;
}

.display-field {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.editor-label {
    display: inline-block;
    width: 250px;
    margin: 2px;
    vertical-align: top;
}

.editor-field {
    display: inline-block;
    width: 600px;
    margin: 2px;
}

.pic-upload-input {
    width: 300px;
}

.photo-index-card {
    background-color: #f5f5f5;
    border-color: #447faa;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    margin: 10px 5px 5px 18px;
    height: 400px;
    width: 355px;
    float: left;
}

.photo-metadata {
    width: 800px;
    border: 1px, solid, black;
    padding: 15px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-display-img {
    width: 230px;
    height: 190px;
    margin: 15px 5px 15px 5px;
}

textarea {
    height: 30px;
}

#GlutenFree {
    height: 20px;
}

input, select, textarea {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    width: 250px;
    text-align: left;
    margin-top: 10px;
}

div {
    text-align: center;
}

label {
    display: inline-block;
    width: 340px;
    margin: 25px 1px 5px 1px;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

span, li {
    color: red;
    font-size: 20px;
}

ul {
    display: inline-block;
    text-align: left;
    margin-left: 60px;
}

input[type=submit], button {
    width: 180px;
    background: #2e6ab7;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    height: 40px;
    text-align: center;
}

form {
    text-align: center;
}

.form-field {
    max-width: 605px;
    margin: 0 auto;
}

    .form-field .validation-error,
    .form-field .field-validation-error {
        display: block;
        text-align: right;
    }

.photo-index-card-details {
    background-color: #f5f5f5;
    border-color: #447faa;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    margin: 50px auto auto auto;
    height: 715px;
    width: 355px;
}