﻿@model IEnumerable<Cupcakes.Models.Cupcake>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/cupcakes-styles.css" />
</head>
<body>
    <div class="container">
        <div class="main-title">
            <p class="into">Welcome to our Cupcakes Shop</p>
            <button type="button" onclick="location.href='@Url.Action("Create", "Cupcake")'">Add Cupcake</button>
        </div>
        <div class="img-container">
            @foreach (var item in Model)
            {
                <div class="photo-index-card">
                    <h3 class="display-picture-title">
                        "@Html.DisplayFor(modelItem => item.CupcakeType)"
                    </h3>
                    @if (item.ImageName != null)
                    {
                        <div class="photo-display">
                            <img class="photo-display-img" src="@Url.Action("GetImage", "Cupcake", new { Id = item.CupcakeId })" />
                        </div>
                    }
                    <div>
                        <p class="display-label">
                            @Html.DisplayNameFor(model => item.Description)
                        </p>
                        <br />
                        <p class="display-field">
                            @Html.DisplayFor(model => item.Description)
                        </p>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.CupcakeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CupcakeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CupcakeId">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>